* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Start header design */

.header-container {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 550px;

}


.header-title {
    padding: 167px 190px 800px;
    text-align: right;

}

.head-qoute {
    font-weight: 700;
    font-size: 45px;

}

.header-des {
    color: #444343;
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
    width: 60%;
    text-align: right;
    padding: 20px 400px 770px;


}

/* End the header design */

/* Start main portion design */

main {
    margin: 0 auto;
    max-width: 1100px;

}

/* Failuers Portion design */

.my-failures {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.my-failures p {
    color: #444343;
    margin-bottom: 15px;

}

.my-failures h1 {
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 5px;
}

.my-failures ul>li {
    list-style: none;
    color: #444343;
    margin-bottom: 5px;
}

/* My Plan portion design */
.my-plan {
    margin-top: 100px;
    text-align: center;
    padding: 30px;
}

.my-plan h1 {
    font-weight: 800;
    font-size: 35px;
}

.plans {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;

}

.plan h3 {
    color: #444343;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;

}

.mindset-banner {
    color: #ffff;
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    margin-top: 150px;
    height: 300px;
    border: none;
    border-radius: 20px;
    padding: 30px 50px;
    font-weight: 300;
    font-size: 25px;

}

.btn-call {
    color: orangered;
    border: none;
    border-radius: 10px;
    background-color: #ffff;
    font-size: 20px;
    height: 64px;
    padding: 10px 20px;
    margin-top: 10px;



}

.my-mission {
    margin-top: 100px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;

}

.Mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    gap: 40px;

}

.Mission p {
    color: #444343;
    font-size: 20px;
}