* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Start header design */

.header-container {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 650px;

}

.header-title {
    text-align: right;
    padding: 150px 120px;
    width: 600px;
    margin-left: 480px;

}

.head-qoute {
    font-weight: 800;
    font-size: 60px;

}

.btn-contact {
    background-color: #FD6E0A;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    padding: 14px 35px;
    border: 0;
    border-radius: 7px;
    margin-top: 10px;
}

.header-des {
    color: #444343;
    font-size: 18px;
    padding: 20px 10px 10px;
}

/* End the header design */

/* Start main portion design */

main {
    margin: 0 auto;
    max-width: 1100px;

}

/* Failuers Portion design */

.my-failures {
    margin-top: 150px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.my-failures p {
    color: #444343;
    margin-bottom: 15px;

}

.my-failures h1 {
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 5px;
}

.my-failures ul>li {
    list-style: none;
    color: #444343;
    margin-bottom: 15px;
    margin-top: 30px;
}

.fa-circle-check {
    color: rgb(3, 200, 3);
}

/* End the failure portion
................................. */

/* My Plan portion design */
.my-plan {
    margin-top: 100px;
    text-align: center;
    padding: 30px;
}

.plan-header {
    margin-top: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}


.plans {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

}

.plan h3 {
    color: #444343;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;

}

/* End the plan portion
---------------------------- */
/* Start Mind set portion design */

.mindset-banner {
    color: #ffff;
    background-image: linear-gradient(90deg, rgb(229 84 11 / 92%) 0%, rgb(12 10 9 / 49%) 35%, rgb(0 212 255 / 25%) 100%), url(../images/watch.png);
    background-repeat: no-repeat;
    margin-top: 150px;
    background-size: cover;
    height: 250px;
    border: none;
    border-radius: 20px;
    padding: 30px 50px;
    font-weight: 300;
    font-size: 25px;

}

.btn-call {
    color: orangered;
    border: none;
    border-radius: 10px;
    background-color: #ffff;
    font-size: 20px;
    height: 44px;
    padding: 10px 20px;
    margin-top: 10px;


}

/* End the mind set banner design
----------------------------------------- */

/* Start mission portion design*/
.my-mission {
    margin-top: 100px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;

}

.Mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    gap: 120px;

}

.Mission p {
    color: #444343;
    font-size: 20px;
}

/* 
end the mission portion design*/

/* Footer section start
------------------- */

footer {
    margin-top: 150px;

}

.future h1 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.email {
    margin: 10px 10px;
}

.phone {
    margin: 10px 10px;
}

.footer-details {
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;
    background-color: #151414;
    color: #ffff;
    gap: 80px;
}


.subscribe-area input {
    border: 1px solid #fff;
    border-radius: 7px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: #151414;
    color: white;
    width: 325px;
    height: 55px;

}

.social img {
    margin: 20px 10px 10px;

}

/* Footer design end */